{% load static %}

<section id="auth_telegram_section">
  <div class="container text-center">
    <div class="row justify-content-center mb-4">
      <div class="col-12 col-md-4">
        <img src="{% static 'img/elements/angry_logo.webp' %}" class="img-fluid rounded-circle" alt="logo" />
      </div>
    </div>
    {% if user.is_authenticated %}
      <h1 class="mb-5">{{ user.first_name|default:user.username }}, сердитый день!</h1>
      <form id="logout-form" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-lg btn-secondary" type="submit">Выход</button>
      </form>
    {% else %}
      <h1 class="mb-5">Сердитый день!</h1>
      <a href="{% url 'start_telegram_auth' %}" target="_blank" class="btn btn-lg btn-primary">Войти через Telegram</a>
    {% endif %}
  </div>
</section>
