{% extends 'layout/base.html' %}
{% load static %}

{% block title %}

{% endblock %}

<!-- META TAGS -->
{% block meta_tags %}
  {% include 'layout/components/meta_tags.html' %}
{% endblock %}

{% block content %}
  <section>
    <div class="container text-center">
      {% if user.is_authenticated %}
        <h1 class="mb-5">{{ user.username }}, добрый день!</h1>
      {% else %}
        <h1 class="mb-5">Добрый день!</h1>
      {% endif %}
      <a href="#" class="btn btn-lg btn-primary">Войти через Telegram</a>
    </div>
  </section>
{% endblock %}
