{% extends 'layout/base.html' %}
{% load static %}

{% block title %}

{% endblock %}

<!-- META TAGS -->
{% block meta_tags %}
  {% include 'layout/components/meta_tags.html' %}
{% endblock %}

{% block content %}
  <section>
    <div class="container text-center">
      <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-4">
          <img src="{% static 'img/elements/angry_logo.webp' %}" class="image-fluid rounded-circle" alt="logo" />
        </div>
      </div>
      {% if user.is_authenticated %}
        <h1 class="mb-5">{{ user.telegram_username }}, добрый день!</h1>
      {% else %}
        <h1 class="mb-5">Добрый день!</h1>
      {% endif %}
      <a href="https://t.me/django_telegram_login_test_bot" target="_blank" class="btn btn-lg btn-primary">Войти через Telegram</a>
    </div>
  </section>
{% endblock %}
